.class {
  height: 50px;
}

.btnClass {
  border: 1px solid black;
}

.iconClass {
  position: absolute;
  top: 70px;
}

.divImage img {
  max-height: 490px;
  width: 360vw;
}

.fullWidth {
  width: 95vw;
  height: 37vh;
}

.widt {
  width: 45%;
}

.black {
  background-color: #593cfb;
}

.endWidth {
  height: 9vh;
  width: 98vw;
  position: absolute;
  top: 22vh;
}

.input {
  width: 28vw;
}

.vl {
  border-left: 1px solid rgb(129, 125, 125);
  height: 7.5vh;
}

.vla {
  border-left: 1px solid rgb(129, 125, 125);
  height: 7.5vh;
  position: absolute;
  left: 62vw;
}

.height {
  height: 3.5vh;
  width: 15vw;
}

.end-width {
  width: 72vw;
  height: 59px;
}

.vl {
  border-left: 1px solid rgb(104, 99, 99);
  position: absolute;
  left: 25vw;
  height: 7vh;
}

.vla {
    border-left: 1px solid rgb(104, 99, 99);
    position: absolute;
    left: 45vw;
    height: 7vh;
  }

.inputWidth{
    width: 24vw;
}

.datePeker{
    margin-left: 25.5vw;
}

.timePeker{
    margin-left: 46vw;
}

.radius{
    position: absolute;
    left: 67vw;
    top: 2vh;
    background-color: #593cfb;
    width: 50px;
    height: 35px;
    border-radius: 100px;
}

.iconSearch{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 5px;
    left: 12px;
}