.class{
    height: 50px;
}

.btnClass{
    border: 1px solid black;
}

.iconClass{
    position: absolute;
    top: 70px;
}

.divImage img{
    max-height: 490px;
    width: 360vw;
}

.fullWidth {
   width: 95vw; 
   height: 37vh;
}

.widt{
    width: 45%;
}

.black{
    background-color: #593CFB;
}

.endWidth{
    height: 9vh;
    width: 98vw;
}

.input{
    width: 28vw;
}